# Explicitly disabled
-Xep:EffectivelyPrivate:OFF
-Xep:IdentityHashMapUsage:OFF
-Xep:MissingSummary:OFF
-Xep:SameNameButDifferent:OFF

# Experimental : ERROR
-Xep:BanClassLoader:ERROR
-Xep:BanSerializableRead:ERROR
-Xep:ClassName:ERROR
-Xep:ComparisonContractViolated:ERROR
-Xep:DeduplicateConstants:ERROR
-Xep:DepAnn:ERROR
-Xep:EmptyIf:ERROR
-Xep:ExtendsAutoValue:ERROR
-Xep:InsecureCryptoUsage:ERROR
-Xep:IterablePathParameter:ERROR
-Xep:LongLiteralLowerCaseSuffix:ERROR
-Xep:MissingRuntimeRetention:ERROR
-Xep:MoreThanOneQualifier:ERROR
-Xep:NoAllocation:ERROR
-Xep:StaticOrDefaultInterfaceMethod:ERROR
-Xep:StaticQualifiedUsingExpression:ERROR
-Xep:SystemExitOutsideMain:OFF
-Xep:TestExceptionChecker:ERROR
-Xep:UseCorrectAssertInTests:ERROR

# Experimental : WARNING
-Xep:AnnotationPosition:ERROR
-Xep:AssertFalse:ERROR
-Xep:AssistedInjectAndInjectOnConstructors:ERROR
-Xep:AvoidObjectArrays:OFF
-Xep:BinderIdentityRestoredDangerously:ERROR
-Xep:BindingToUnqualifiedCommonType:ERROR
-Xep:BuilderReturnThis:ERROR
-Xep:CanIgnoreReturnValueSuggester:OFF
-Xep:CannotMockFinalClass:ERROR
-Xep:CannotMockMethod:ERROR
-Xep:CatchingUnchecked:ERROR
-Xep:CheckedExceptionNotThrown:ERROR
-Xep:ConstantPatternCompile:OFF
-Xep:DefaultLocale:ERROR
-Xep:DifferentNameButSame:ERROR
-Xep:EqualsBrokenForNull:ERROR
-Xep:ExpectedExceptionChecker:ERROR
-Xep:ExplicitArrayForVarargs:ERROR
-Xep:FloggerLogWithCause:ERROR
-Xep:FloggerMessageFormat:ERROR
-Xep:FloggerRedundantIsEnabled:ERROR
-Xep:FloggerRequiredModifiers:ERROR
-Xep:FloggerWithCause:ERROR
-Xep:FloggerWithoutCause:ERROR
-Xep:FunctionalInterfaceClash:ERROR
-Xep:HardCodedSdCardPath:ERROR
-Xep:IdentifierName:OFF
-Xep:InconsistentOverloads:OFF
-Xep:InitializeInline:ERROR
-Xep:InterfaceWithOnlyStatics:ERROR
-Xep:InterruptedExceptionSwallowed:ERROR
-Xep:Interruption:ERROR
-Xep:MissingDefault:OFF
-Xep:MockitoDoSetup:ERROR
-Xep:MutableGuiceModule:ERROR
-Xep:NegativeBoolean:OFF
-Xep:NonCanonicalStaticMemberImport:ERROR
-Xep:NonFinalStaticField:OFF
-Xep:PreferJavaTimeOverload:ERROR
-Xep:PreferredInterfaceType:OFF
-Xep:PrimitiveArrayPassedToVarargsMethod:ERROR
-Xep:QualifierWithTypeUse:ERROR
-Xep:RedundantNullCheck:ERROR
-Xep:RedundantOverride:ERROR
-Xep:RedundantThrows:ERROR
-Xep:StringFormatWithLiteral:ERROR
-Xep:StronglyTypeByteString:ERROR
-Xep:StronglyTypeTime:ERROR
-Xep:SunApi:ERROR
-Xep:SuppressWarningsWithoutExplanation:OFF
-Xep:SystemOut:OFF
-Xep:ThrowSpecificExceptions:OFF
-Xep:TimeUnitMismatch:OFF
-Xep:TooManyParameters:OFF
-Xep:TransientMisuse:ERROR
-Xep:TryWithResourcesVariable:ERROR
-Xep:UnescapedEntity:OFF
-Xep:UnnecessarilyFullyQualified:ERROR
-Xep:UnnecessarilyUsedValue:ERROR
-Xep:UnnecessarilyVisible:OFF
-Xep:UnnecessaryAnonymousClass:ERROR
-Xep:UnnecessaryDefaultInEnumSwitch:ERROR
-Xep:UnnecessaryFinal:ERROR
-Xep:UnnecessaryOptionalGet:ERROR
-Xep:UnnecessarySemicolon:ERROR
-Xep:UnnecessaryTestMethodPrefix:ERROR
-Xep:UnsafeLocaleUsage:ERROR
-Xep:UnusedException:ERROR
-Xep:UrlInSee:ERROR
-Xep:UsingJsr305CheckReturnValue:ERROR
-Xep:Var:OFF
-Xep:Varifier:OFF
-Xep:YodaCondition:OFF

# Experimental : SUGGESTION
-Xep:AddNullMarkedToClass:OFF
# Package documentation must not add a production annotation dependency.
-Xep:AddNullMarkedToPackageInfo:OFF
-Xep:AnnotationMirrorToString:ERROR
-Xep:AnnotationValueToString:ERROR
-Xep:BooleanParameter:OFF
-Xep:ClassNamedLikeTypeParameter:ERROR
-Xep:ConstantField:ERROR
-Xep:EqualsMissingNullable:ERROR
-Xep:FieldCanBeFinal:ERROR
-Xep:FieldCanBeLocal:ERROR
-Xep:FieldCanBeStatic:ERROR
-Xep:FieldMissingNullable:ERROR
-Xep:ForEachIterable:ERROR
-Xep:ImmutableMemberCollection:OFF
-Xep:ImmutableRefactoring:ERROR
-Xep:ImmutableSetForContains:ERROR
-Xep:LambdaFunctionalInterface:ERROR
-Xep:MethodCanBeStatic:ERROR
-Xep:MissingBraces:ERROR
-Xep:MixedArrayDimensions:ERROR
-Xep:MultiVariableDeclaration:ERROR
-Xep:MultipleTopLevelClasses:ERROR
-Xep:PackageLocation:ERROR
-Xep:ParameterComment:ERROR
-Xep:ParameterMissingNullable:ERROR
-Xep:PrivateConstructorForUtilityClass:ERROR
-Xep:PublicApiNamedStreamShouldReturnStream:ERROR
-Xep:RemoveUnusedImports:ERROR
-Xep:ReturnMissingNullable:ERROR
-Xep:ReturnsNullCollection:OFF
-Xep:SwitchDefault:ERROR
-Xep:SymbolToString:ERROR
-Xep:ThrowsUncheckedException:ERROR
-Xep:TryFailRefactoring:ERROR
-Xep:TypeParameterNaming:ERROR
-Xep:TypeToString:ERROR
-Xep:UngroupedOverloads:ERROR
-Xep:UnnecessaryBoxedAssignment:ERROR
-Xep:UnnecessaryBoxedVariable:ERROR
-Xep:UnnecessarySetDefault:ERROR
-Xep:UnnecessaryStaticImport:ERROR
-Xep:UseEnumSwitch:ERROR
-Xep:VoidMissingNullable:ERROR
-Xep:WildcardImport:ERROR
